.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
}

.logo {
  width: 228px;
  height: 32px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 100;
}

.header__title {
  display: flex;
  margin: 0;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  align-items: center;
  width: 730px;
  z-index: 2;

  }

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 100;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 60px;
}

.description {
 padding-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  list-style: none;
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding-left: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__list-item {
  margin-bottom: 30px;
}

.two-columns__list-item:last-of-type {
  margin-bottom: 0;
}

.digits {
  padding: 100px 0;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 20px auto 0;
}

.table {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.table__cell_theme_white {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-size: 600;
  margin: 0 0 20px 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-size: normal;
  margin: 20px 0 0 0;
}

.feynman {
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  margin: 100px auto 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  }

.feynman__foto {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.kaufman {
  background-color: black;
  position: relative;
  z-index: -2;
  overflow: hidden;
  padding: 90px 0;
}

.table_theme_dark {
  color: white;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
  height: 877px;
  width: 877px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.footer {
  background-color: black;
  min-height: 250px;
  padding: 60px 0 40px 0;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  color: white;
  list-style: none;
  padding-left: 0;
  min-height: 250px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-links {
  list-style: none;
  padding-left: 0;
  padding-bottom: 16px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

